@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Average&700&family=Lato&family=Kumbh+Sans&family=Jost');
.root,
#root,
#docs-root {
  --primary: #ff0dbf;
}
html,
body {
  padding: 0;
  margin: 0;
  background-size: cover;
  @apply bg-giros-dark-bg
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


